# Pytorch (the GPU version will be picked automatically)
torch
torchaudio
torchvision

# Dreamtalk
yacs
scipy
scikit-image
scikit-learn
PyYAML
Pillow
numpy
opencv-python
imageio
ffmpeg-python
av
urllib3
transformers
dlib
seaborn
